// Здесь задаются основные стили приложения

// Файл с переменными для стилей
@import '@/assets/scss/vars.scss';

// Подключение шрифта Montserrat всех вариаций
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese');

body {
  background-color: $app-background;
}

#__nuxt {
  font-family: $fontMontserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $black;
}

.body-overflow {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.mt10 {
  margin-top: 10px;
}
.ml10 {
  margin-left: 10px;
}